<div class="card-header text-left">
  <h4>Shopping Cart</h4>
</div>
<div class="col-md-12 mb-3 alert alert-danger" role="alert" *ngIf="isErrored">
  {{ errorMessage }}
</div>
<div class="cart-table cart-font-size">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Remove</th>
        <th scope="col">Product(s)</th>
        <th class="text-right" scope="col">Price (LKR)</th>
        <th class="text-center" scope="col">Qty</th>
        <th class="text-right" scope="col">Total (LKR)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart">
        <td>
          <button
            class="btn btn-remove-product btn-outline-primary"
            (click)="handlerRemoveCartItem(cartItem)"
          >
            X
          </button>
        </td>
        <td>{{ cartItem.productName }}</td>
        <td class="text-right">
          {{ cartItem.price | currency: " " }}
        </td>
        <td class="text-center">
          <form #form="ngForm">
            <input
              type="number"
              min="1"
              max="100"
              class="product-qty-btn"
              name="qty"
              #qty="ngModel"
              [(ngModel)]="cartItem.qty"
              value="{{ cartItem.qty }}"
              (click)="setItemQty(cartItem)"
              (keyup.enter)="setItemQty(cartItem)"
              (blur)="setItemQty(cartItem)"
            />
          </form>
        </td>
        <td class="text-right">
          {{ cartItem.qty * cartItem.price | currency: " " }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
