<div class="card mb-4 shadow-sm">
  <img
    class="bd-placeholder-img card-img-top"
    width="100%"
    height="225"
    [src]="productItem.imageUrl"
  />

  <div class="card-body">
    <p class="card-title">
      <strong>{{ productItem.name }}</strong>
    </p>
    <p class="card-text">
      {{ productItem.shortDescription | slice: 0:100 }}...
    </p>
    <p class="card-text product-text">
      <span>{{ productItem.price | currency: "LKR " }}</span>
    </p>
   
    <form #form="ngForm">
      <p class="card-text product-text">
        Qty :
        <input
          type="number"
          min="1"
          max="10"
          value="{{ item.qty }}"
          class="product-qty-btn"
          name="qty"
          #qty="ngModel"
          [(ngModel)]="item.qty"
        />
      </p>
    </form>
    <div class="d-flex justify-content-lg-center align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-primary product-btn"
          (click)="handlerAddToCart()"
        >
          ADD TO CART
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary product-btn"
          (click)="open(content)"
        >
          VIEW
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-dark product-btn"
          *ngIf="!addedToWishlist"
          (click)="handlerAddToWishlist()"
        >
          WISHLIST
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success product-btn"
          *ngIf="addedToWishlist"
          (click)="handlerAddToWishlist()"
        >
          WISHLIST
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal popup for roduct details -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ productItem.name }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img
      class="bd-placeholder-img card-img-top"
      width="100%"
      height="225"
      [src]="productItem.imageUrl"
    />

    <div class="card-body">
      <p class="card-text">{{ productItem.description }}</p>
      <p class="card-text product-text">
        <strong>{{ productItem.price | currency: "LKR " }}</strong>
      </p>
      <form #form="ngForm">
        <p class="card-text product-text">
          Qty :
          <input
            type="number"
            min="1"
            max="100"
            value="{{ item.qty }}"
            class="product-qty-btn"
            name="qty"
            #qty="ngModel"
            [(ngModel)]="item.qty"
          />
        </p>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-lg-center align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-primary product-btn"
          (click)="handlerAddToCart()"
        >
          ADD TO CART
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark product-btn">
          WISHLIST
        </button>
      </div>
    </div>
  </div>
</ng-template>
