<ng-container *ngIf="order">
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="text-left">
        <h4>OnlineShopping.com</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 mb-3">
            <address class="address-details">
              <strong>Example Inc.</strong><br />
              1234 Example Street<br />
              Antartica, Example 0987<br />
              <abbr title="Phone">P:</abbr> (123) 456-7890 <br />
              <abbr title="Email">E-mail:</abbr> info@onlineshopping.com
            </address>
          </div>
          <div class="col-md-4 mb-3">
            <div class="text-left">
              <h5>Invoice</h5>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label id="payMethod">{{
                  order.orderDate | date: "mediumDate"
                }}</label>
                <br />
                <label id="payMethod">{{ order.paymentMethod.name }}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="text-left">
              <h5>Bill To</h5>
            </div>
            <div class="card-body bill-card-body">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <address class="address-details">
                    <strong>{{
                      order.deliveryDetails.firstName +
                        " " +
                        order.deliveryDetails.lastName
                    }}</strong
                    ><br />
                    {{
                      order.deliveryDetails.addressLine1 +
                        " " +
                        order.deliveryDetails.addressLine2
                    }}<br />
                    {{
                      order.deliveryDetails.state +
                        " " +
                        order.deliveryDetails.postCode
                    }}
                    <br />
                    <abbr title="Email">E-mail:</abbr>
                    {{ order.deliveryDetails.email }}
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row bill-card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product(s)</th>
                <th class="text-right" scope="col">Price (LKR)</th>
                <th class="text-right" scope="col">Qty</th>
                <th class="text-right" scope="col">Total (LKR)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartItem of order.orderItems">
                <td>{{ cartItem.productName }}</td>
                <td class="text-right">
                  {{ cartItem.price | currency: " " }}
                </td>
                <td class="text-right">
                  {{ cartItem.qty }}
                </td>
                <td class="text-right">
                  {{ cartItem.qty * cartItem.price | currency: " " }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-8 mb-3"></div>
          <div class="col-md-4 mb-3">
            <table class="table">
              <tbody>
                <tr>
                  <td><Strong>Total</Strong></td>
                  <td class="text-right">
                    {{ order.totalAmount | currency: "LKR " }}
                  </td>
                </tr>
                <tr>
                  <td><strong>Tax</strong></td>
                  <td class="text-right">{{ order.tax | currency: "LKR " }}</td>
                </tr>
                <tr>
                  <td><strong>Sub Total</strong></td>
                  <td class="text-right">
                    {{ order.subTotal | currency: "LKR " }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
