<div class="row">
  <div class="col">
    <app-nav-category></app-nav-category>
  </div>
</div>

<div class="jumbotron p-4 p-md-5 text-white bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Buy best products for good price</h1>
    <p class="lead my-3">
      We have thousends of products in all populer brands, you are in the right
      place to buy your dream tools.
    </p>
    <p class="lead mb-0">
      <a href="#" class="text-white font-weight-bold">More...</a>
    </p>
  </div>
</div>
