<div class="row">
  <div class="login-card-header col-md-4 offset-md-4 text-center">
    <h3>Welcome, Please Sign In!</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card login-card">
      <div class="card-header text-center">
        <h4>New Customer</h4>
      </div>
      <div class="card-body text-center">
        <p class="login-card-register-text">
          Create an account to keep track of your previous orders and shop
          faster!
        </p>

        <a routerLink="/register" class="btn btn-sm btn-outline-primary"
          >Register</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card login-card">
      <div class="card-header text-center">
        <h4>Registered Customer</h4>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="card-body">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
              name="email"
              #email="ngModel"
              [(ngModel)]="formModel.email"
              required
            />
            <span class="invalid-feedback">Email can't be blank.</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
              name="password"
              #password="ngModel"
              [(ngModel)]="formModel.password"
              required
            />
            <span class="invalid-feedback">Password can't be blank.</span>
          </div>

          <button
            class="btn btn-sm btn-outline-primary btn-block"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
