.cart-item {
  font-size: small;
}
.cart-item-price {
  font-weight: 600;
}

.card-text:last-child {
  margin-bottom: 10px;
}

.filters {
  font-size: small;
}
.card,
.form-control,
.btn {
  border-radius: 0;
}
.btn-remove-product {
  padding: 0px 6px !important;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.jumbotron {
  border-radius: 0;
}
.product-text {
  font-size: small;
}
.product-btn {
  font-size: x-small;
}
.product-qty-btn {
  width: 50px;
}

.login-card-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.login-card {
  min-height: 325px;
}
.login-card-register-text {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.btn-primary.disabled,
btn-primary:disabled {
  cursor: not-allowed;
}

.custom-control-padding {
  padding-left: 2.5rem;
}
.cart-font-size {
  font-size: 12px;
}
