.cart-item {
  font-size: small;
}
.filters {
  font-size: small;
}
.card,
.form-control,
.btn {
  border-radius: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.jumbotron {
  border-radius: 0;
}
.product-text {
  font-size: small;
}
.product-btn {
  font-size: x-small;
}
.product-qty-btn {
  width: 50px;
}
